<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="connexionInfo" connectionString="Data Source=sm-frmv-emps01;Initial Catalog=VAL_methods;User Id=sqlintranet;Password=Chriis01" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
